/**
 * Overriding styles
 */
.site-header {
  border-top: 1px solid $grey-color-light;
}
.site-nav {
  .page-link {
    color: $grey-color-light;
  }
}
.site-footer {
    padding: 10px 0;
}
.footer-col {
    margin-bottom: 0px;
}
.footer-col-1 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}
.footer-col-1 ul li {
  padding-left: 0pt;
}
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}
.footer-col-2 p {
  font-style: italic;
}
.footer-col-3 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
/**
 * New styles
 */
.site-nav .page-link:hover {
  color: $grey-color-dark;
  text-decoration: none;
}
a:hover {
  color: complement($brand-color);
  text-decoration: none;
}
.site-banner {
  background-image: url("/assets/img/headers/sand.jpg");
  @include relative-font-size(2);
}
h1 {
  @include relative-font-size(1.5);
  padding: (1.5 * $spacing-unit) 0px (3 * $spacing-unit);
  height: 1.5 * $spacing-unit;
  background: $background-color center;
  background-size: cover;
  text-align: center;
  text-shadow: 0 0 0 #000, 0 0 .3em #000;
  color: $grey-color-light;
}
.page-content .wrapper {
  border-radius: $spacing-unit;
  background-color: $grey-color-light;
  margin-top: -(3 * $spacing-unit);
  padding-top: 1pt;
}
.contact-list li,
.social-media-list li {
  display: inline;
  text-align: right;
  padding-left: $spacing-unit / 4;
}
.social-media-list {
  float: right;
}
